<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://airiq.in/img/favicon.ico">

<link rel="stylesheet" href="/assets/styles.css" type="text/css">
    <title>AIRIQ-PNR</title>
</head>
<body>


<div class="container">
 <div class="logo"><img src="/assets/airiq-logo.png" alt=""></div>
    <div class="input-container">


        <form class="form" method="post" id="myForm"   action="/convert" enctype="multipart/form-data">
        
            <input type="text" name="falsename">
        
        </div>

               <button class="download" id="button" type="submit">DOWNLOAD </button>
        </form>
</div> 
<script>


</script>

</body> 
</html>